@model MoodScape.Web.ViewModels.LoginVM

@{
    ViewData["Title"] = "🫒Login🫒";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow mb-5">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Login to MoodScape</h3>
                    <form asp-action="Login" method="post">
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input asp-for="Email" class="form-control" placeholder="Enter email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="Password" class="control-label">Password</label>
                            <input asp-for="Password" class="form-control" type="password" placeholder="Enter password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
