@{
    ViewData["Title"] = "🪁 Welcome to MoodScape 🪁";
}

<section class="d-flex align-items-center justify-content-center min-vh-100">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="video-background">
        <source src="~/assets/animation0.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="intro-content text-center">
        <h1 class="display-3 text-white">MoodScape</h1>
        <p class="lead text-light">Your Personal Mood, Habit, and Goal Tracker</p>
    </div>
</section>
